<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
  <form class="d-flex">
    <input name="title" class="form-control me-2" type="text" placeholder="Search">
    <button class="btn btn-primary" type="button">Search</button>
  </form>
<h1>블로그</h1>

<div class="container mt-3">
  <table id="customers">
    <tr>
      <th>id</th>
      <th>title</th>
      <th>content</th>
      <th>createDate</th>
    </tr>
    {{#BoardTbl}}
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{content}}</td>
      <td>{{createDate}}</td>
    </tr>
    {{/BoardTbl}}
    </tr>
  </table>

</div>

</body>
</html>


